@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont', 'Arial', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'MS PGothic', sans-serif;
    @apply bg-gray-800;
    @apply text-gray-50;
}

.kp-main {
    @apply bg-white;
    @apply text-black;
}

.kp-main :any-link {
    @apply text-black;
}

.kpBlogIndexBorder {
    @apply border-blue-800;
}

.kpNavLinkBorder {
    @apply border-indigo-900;
}

@media (prefers-color-scheme: dark) {
    .kp-main {
        @apply bg-gray-800;
        @apply text-gray-100;
    }
    
    .kp-main :any-link {
        @apply text-gray-100;
    }

    .kpBlogIndexBorder {
        @apply border-blue-300;
    }

    .kpNavLinkBorder {
        @apply border-indigo-300;
    }
}

.kp-main a:not(.no-underline) {
    text-decoration: underline;
}

.font-orbitron {
    @apply font-bold; /* because the included Orbitron is bold */
    font-family: 'Orbitron', sans-serif;
}

ul {
    @apply list-disc;
    @apply ml-6;
}

svg {
    @apply w-6;
    @apply inline;
}

address {
    font-style: normal;
}

address svg {
    @apply w-4;
}

address span {
    white-space: nowrap;
}

address a {
    text-decoration: none;
}

.TopPageMenu li a {
    display: block;
    width: 100%;
    height: 100%;
}

ol {
    @apply list-decimal;
    @apply ml-6;
}

p {
    @apply mt-2;
    @apply mb-2;
}

pre {
    @apply text-green-700;
    white-space: pre-wrap;
}

td {
    word-break: break-all;
}

.blogArticle h2 {
    @apply text-xl;
    @apply font-bold;
}

.blogArticle h3 {
    @apply text-lg;
    @apply font-bold;
}

.social-distance {
    word-spacing: 1.8rem;
}

@media (min-width: 768px) {
    .blogArticle img {
        max-width: 480px;
        max-height: 320px;
    }
    pre {
        white-space: pre;
        overflow-x: auto;
    }
}

.kp-gradientBorder1 {
    border-top: 6px solid;
    border-image: linear-gradient(to right, #000000, #119988 5%, #119988 95%, #000000);
    border-image-slice: 1;
}

.kp-gradientBorder2 {
    box-shadow: 3px 3px 5px 0 #666666, inset 0 0 10px 3px #119988;
}

